logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
uploads/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js
package-lock.json
config.default.ts

app/**/*.js
test/**/*.js
config/**/*.js
config/config.sensitive.ts
app/**/*.map
test/**/*.map
config/**/*.map
